.div{
    position: absolute;
    min-height: 30%;
    width: 50%;
    background-color: aquamarine;
    left: 25%;
    top: 110px;
}
h3{
    left: 30%;
    top: 35px;
    position: relative;
}
h4{
    left: 40%;
    top: 35px;
    position: relative;
}
.btn{
    position: relative;
    left: 50%;
    top: 35px;
    width: 20%;
    padding: 0.5%;
    cursor: pointer;
    background-color: rgb(47, 160, 120);
    font-size: initial;
    border-radius: 10px;
}

.btn:hover{
    background-color: white;
    color: rgb(27, 101, 77);
}

/* .unAuthorizeDiv{
    position: absolute;
    min-height: 30%;
    width: 50%;
    background-color: aquamarine;
    left: 25%;
    top: 110px;
} */